[submodule "Thirdparty/imgui"]
	path = Thirdparty/imgui
	url = https://github.com/rocketman123456/imgui.git
[submodule "Thirdparty/crossguid"]
	path = Thirdparty/crossguid
	url = https://github.com/graeme-hill/crossguid.git
